.hierarchy-header {
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid green;
  font-size: 20px;
}

.difficulty-header {
  width: 100px;
  justify-content: center;
}

.hierarchy-task-header {
  width: 400px;
  justify-content: start;
  padding-left: 10px;
}

.sort-header {
  width: 170px;
  justify-content: space-between;
  padding: 0 10px;
}
