.day {
  height: auto;
  width: auto;
}

.weekday {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 20px;
  width: 60px;
}

.date {
  border: 1px solid black;
  border-left: none;
  width: 60px;
  height: 20px;
}
