.tracker-header {
  width: 100%;
  height: auto;
  display: block;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 50;
}

.header-days {

  display: grid;
  grid-template-columns: var(--task-col) repeat(7, var(--day-col)) var(--status-col);
  align-items: center;
}

.header-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-frequency-header {
  grid-column: 1 / 2;
  height: 41px;
  border: 1px solid black;
}

.status-header {
  grid-column: 9 / 10;
  height: 41px;
  border: 1px solid black;
  border-left: none;
}
