.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.pages {
  margin-top: 30px;
}

.categories {
  margin: 20px;
}

.path {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 50px;
  border: none;
}

.path:hover {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pages .path {
  font-size: 40px;
  padding: 0 15px 5px 15px;
  background: none;
}

.pages .path:hover {
  background: rgb(225, 225, 225);
}

.categories .path {
  font-size: 25px;
  padding: 0 10px 4px 10px;
}
