.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.pages {
  margin-top: 20px;
  margin-bottom: -50px;
}

.categories {
  margin-bottom: 10px;
}

.path {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  margin: 40px 0;
  border-radius: 50px;
  padding: 0 15px 10px 15px;
  background: rgb(225, 225, 225);
  border: none;
}

.pages .path {
  font-size: 50px;
}

.path:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selected-path {
  background-color: rgb(173, 216, 230);
}

.pages .selected-path {
  background-color: rgb(182, 230, 173);
}

.selected-path:hover {
  background-color: rgb(146, 186, 200);
}

.pages .selected-path:hover {
  background-color: rgb(150, 200, 146);
}